@model IEnumerable<DOAN_BANHANG_VY.Models.Nhacungung>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Danh sách</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="index">Nhà cung ứng</a></li>
            <li class="breadcrumb-item active">Danh sách</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section dashboard">



<p>
    <a class="btn btn-info" asp-action="Create">Thêm mới</a>
</p>

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ten)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DienThoai)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TinhTrang)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ten)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DienThoai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                            @if (item.TinhTrang == true)
                                            {
                                                <text>Hợp tác</text>

                                            }else
                                            {
                                                <text>Dừng hợp tác</text>
                                            }
                                    </td>
                                    <td>
                                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.MaNcu"><i class="bi bi-pencil-square"></i></a> |
                                            <a class="btn btn-success" asp-action="Details" asp-route-id="@item.MaNcu"><i class="bi bi-eye-fill"></i></a> |
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MaNcu"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>

