@model DOAN_BANHANG_VY.Models.Phieunhap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="pagetitle">
    <h1>Xem chi tiết</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="index">Phiếu nhập</a></li>
            <li class="breadcrumb-item active">Xem chi tiết</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section dashboard">


<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNcuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNcuNavigation.MaNcu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNvNavigation.MaNv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SoPhieu">Chỉnh sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</div>
</section>