@model DOAN_BANHANG_VY.Models.Cthoadon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<<div class="pagetitle">
    <h1>Xóa</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="index">Chi tiết Hóa đơn</a></li>
            <li class="breadcrumb-item active">Xóa</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section dashboard">
    <h3>Bạn muốn xóa hóa đơn không?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHdNavigation.MaHd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMhNavigation.MaMh)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaCthd" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Details" asp-controller="hoadons" asp-route-id="@Model.MaHd" >Quay lại danh sách</a>
    </form>
</div>


</section>