@model IEnumerable<DOAN_BANHANG_VY.Models.CtPhieunhap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonGiaNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoluongNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaMhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoluongNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaMhNavigation.MaMh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SoPhieu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SoPhieu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SoPhieu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
