@model DOAN_BANHANG_VY.Models.Diachi

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Diachi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuongXa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuongXa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuanHuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuanHuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhThanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhThanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MacDinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MacDinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhNavigation.MaKh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
