@model IEnumerable<DOAN_BANHANG_VY.Models.Diachi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhuongXa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuanHuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhThanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MacDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongXa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuanHuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhThanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MacDinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhNavigation.MaKh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
