@model List<Mathang>

@{
    ViewData["Title"] = "Danh sách sản phẩm theo danh mục";
}

<div>
    <form asp-controller="Home" asp-action="ProductsByName">
        <table>
            <tr>
                <td>
                    Từ Khóa: <input class="form-control-sm" type="text" name="keyword" />
                </td>
                <td>
                    <input class="btn btn-info" type="submit" value="Tìm" />
                </td>
            </tr>
        </table>
    </form>
</div>

<h1>Danh Sách Sản Phẩm</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3 d-flex">
            <div class="card text-center m-2 shadow">
                @if (item.GiaBan != item.GiaGoc)
                {
                    <!-- Sale badge-->
                    <div class="badge bg-danger text-white position-absolute" style="top: -0.5rem; right: -0.5rem">Giảm Giá</div>
                }
                <div class="card-header bg-info text-white">
                    <a asp-controller="Home" asp-action="ProductsByManufacturer" asp-route-DM="@item.MaDmNavigation.Ten" class="text-decoration-none text-black">
                        <h5>
                            @Html.DisplayFor(modelItem => item.MaDmNavigation.Ten)
                        </h5>
                    </a>

                </div>
                <div class="card-body">
                    <a asp-action="Details" asp-route-id="@item.MaMh">
                        <img src="~/images/sanpham/@item.HinhAnh" style="max-width:100%" />
                    </a>
                    <!-- Product reviews-->
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star"></div>
                    </div>
                    <div>
                        @if (item.GiaBan != item.GiaGoc)
                        {
                            <span class="text-muted text-decoration-line-through"><strong>Giá góc: @item.GiaGoc</strong></span>
                        }
                    </div>
                    <div>
                        <span class="text-danger"><strong> Giá bán: @item.GiaBan</strong></span>
                    </div>

                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a asp-controller="Home" asp-action="addtocart" asp-route-id=@item.MaMh class="btn btn-outline-dark mt-auto">Chọn Mua</a></div>
                </div>
                <div class="card-footer bg-light">
                    <a asp-action="Details" asp-route-id="@item.MaMh">
                        <strong>@Html.DisplayFor(modelItem => item.Ten)</strong>
                    </a>
                </div>
            </div>
        </div>
    }
    <!--Phân trang-->
    <ul class="pagination justify-content-center" style="margin: 20px 0;">

        <li class="page-item">
            <a class="page-link" href="@Url.Action("Index", new { page = 1 })">
                <i class="bi bi-skip-start-btn-fill"></i>
            </a>
        </li>
        @if (ViewBag.CurrentPage > 1)
        {

            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })">
                    <i class="bi bi-arrow-left-square-fill"></i>
                </a>
            </li>
        }

        @for (var i = Math.Max(1, ViewBag.CurrentPage - 2); i <= Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 2); i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                @if (i == ViewBag.CurrentPage)
                {
                    <span class="page-link">@i</span>
                }
                else
                {
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                }
            </li>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item ">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">
                    <i class="bi bi-arrow-right-square-fill"></i>
                </a>
            </li>
        }
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.TotalPages })">
                <i class="bi bi-skip-end-btn-fill"></i>
            </a>
        </li>
    </ul>
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
</div>
