@model DOAN_BANHANG_VY.Models.Mathang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Xem chi tiết</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="index">Mặt hàng</a></li>
            <li class="breadcrumb-item active">Xem chi tiết</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section dashboard">
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaGoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaGoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
                <img width="100px" src="~/images/sanpham/@Model.HinhAnh" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuotXem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuotXem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuotMua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuotMua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDmNavigation.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDmNavigation.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDvtNavigation.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDvtNavigation.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNcuNavigation.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNcuNavigation.Ten)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaMh">Chỉnh sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</div>
</section>